.header {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;

  letter-spacing: 0.02em;

  background-color: getColor("primary-white");
  border-bottom: 1px solid #ececec;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  @include transition(fill);

  &:hover,
  &:focus {
    fill: getColor("accent");
  }

  & .icon-close {
    display: none;
  }

  @include media-size(min-tablet) {
    display: none;
  }
}

.menu-button.is-open {
  & .icon-close {
    display: block;
  }

  & .icon-open {
    display: none;
  }
}

.menu-container {
  background-color: getColor("primary-white");

  @include media-size(tablet-1) {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    opacity: 0;
    pointer-events: none;
    transform: scaleY(0);
    transform-origin: top;
    @include transitionTwoProp(opacity, transform);

    &.is-open {
      opacity: 1;
      pointer-events: auto;
      transform: scaleY(1);
    }
  }

  @include media-size(min-tablet) {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}

.main-nav {
  @include media-size(min-tablet) {
    margin-left: 88px;
  }

  @include media-size(min-desktop) {
    margin-left: 93px;
  }
}

.site-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-size(tablet-1) {
    margin-bottom: 60px;

    & .item:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @include media-size(min-tablet) {
    flex-direction: row;

    & .item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.site-nav .link {
  position: relative;
  display: block;
  padding-bottom: 8px;
  color: getColor("title-text");
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  @include transition(color);

  &:hover,
  &:focus {
    color: getColor("accent");
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    opacity: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: getColor("accent");
    @include transition(opacity);
  }

  &.current {
    color: getColor("accent");
  }
  &.current::after {
    opacity: 1;
  }

  @include media-size(min-tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .item:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media-size(min-tablet) {
    margin-left: auto;
    align-items: flex-start;

    & .item:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @include media-size(min-desktop) {
    flex-direction: row;

    & .item:not(:last-child) {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }
}

.site-contact .link {
  display: flex;
  align-items: center;
  color: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;

  @include transition(color);

  &:hover,
  &:focus {
    color: getColor("accent");
  }

  @include media-size(min-tablet) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
  @include transition(fill);

  .site-contact .link:hover &,
  .site-contact .link:focus & {
    fill: currentColor;
  }
}
