.logo {
  color: getColor("accent");
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  @include transition(color);

  &:hover,
  &:focus {
    color: getColor("title-text");
  }
}

.logo-studio {
  color: getColor("title-text");
  @include transition(color);

  .logo:hover &,
  .logo:focus & {
    color: getColor("accent");
  }
}

.logo.inverse {
  .logo-studio {
    color: getColor("primary-white");
  }

  &:hover,
  &:focus {
    color: getColor("primary-white");

    .logo-studio {
      color: getColor("accent");
    }
  }
}
