body {
  margin: 0;
  color: getColor("primary-text");
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: getColor("primary-white");
}

body.modal-open {
  overflow: hidden;
}

main {
  min-height: 80vh;
}

* {
  outline-color: #2196f3;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  margin: -1px;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

/* ширина в макеті 1170пікс + по 15пікс по півгаттера справа та зліва, щоб текст не прилипав до краю */
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  .header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero & {
    text-align: center;
    width: 400px;
  }

  @include media-size(min-mobile) {
    width: 480px;
  }
  @include media-size(min-tablet) {
    width: 768px;
  }
  @include media-size(min-desktop) {
    width: 1200px;

    .hero & {
      width: 700px;
    }
  }
}

.section-title {
  margin-bottom: 30px;
  color: getColor("title-text");
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @include media-size(min-desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
